.contact {
  display: flex;
  flex-direction: column;
}

.contactArea {
  padding: 0 1.5rem 4rem 1.5rem;
  background-color: var(--dark);
  width: 100%;
}

.contactArea > div {
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .contact {
    flex-direction: row-reverse;
  }
}
