.contactPage {
  background-color: var(--dark);
}
.contact {
  display: flex;
  flex-direction: column;
}

.contactArea > div {
  padding: 1rem 0;
}

.contactArea {
  padding-left: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .contact {
    flex-direction: row-reverse;
  }
}
