.contact {
  display: flex;
  flex-direction: column;
}

.contact > div {
  padding: 4rem 1.5rem;
  background-color: var(--dark);
}

.contact > form {
  padding: 3rem 1.5rem 4rem;
  background-color: var(--light);
}
