.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--dark);
  z-index: 50;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.visible {
  transform: translateY(0);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.desktopNav {
  display: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .desktopNav {
    display: flex;
  }
}
