.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--dark);
  z-index: 50;
  box-sizing: border-box;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
