.footer {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.copy {
  margin: 0;
  font-size: 0.75rem;
}
