.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
}

.input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid currentColor;
  background: none;
  width: 100%;
  box-sizing: border-box;
}
