.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}
