.aboutUs {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
}

.whoWeAre {
  display: flex;
  flex-direction: column;
}

.textSections {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .whoWeAre {
    flex-direction: row;
    align-items: stretch;
  }

  .textSections {
    flex-direction: row;
    align-items: stretch;
  }

  .textSections > * {
    flex: 1;
  }

  .textSections h2 {
    min-height: 8rem;
  }
}

@media (min-width: 845px) {
  .textSections h2 {
    min-height: 5rem;
  }

  .whoWeAre > * {
    flex: 1;
  }
}

