.career {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
